@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


$roboto : 'Roboto Slab', serif;
$ultra : 'Ultra', serif;
$gris :#3E3535;
$rose : #AA8773;
$jaune : #F3A93E;

body{
    margin: 0;
    background-image: url("../img/background/fond.jpg");
    font-family: $roboto;
}

h1{
    font-family: $ultra;
    font-size: 40px;
    color: $gris;
    margin-top: 0;
    font-weight: initial;
    text-align: justify;
    span{
        text-transform: uppercase;
        font-size: 100px;
    }
}

.button_plus{
    padding: 2%;
    width: 70%;
    border: $gris 5px solid;
    border-radius: 5px;
    background-color: $jaune;
    cursor: pointer;
    a{
        font-size: 24px;
        font-family: $roboto;
    }
}

p{
    text-align: justify;
}

header{
    height: 12vh;
    position: fixed;
    .header_logo{
        display: flex;
        img{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .header-selector{
        background-color: $gris;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        align-items: center;
        height: 6vh;
        .header-langue{
            margin-left: 4%;
            img{
                width: 10%;
                margin-left: 4%;
            }
        }
        .menu_icon_mobile{
            margin-left: 70%;
        }
        .block_menu_mobile{
            display: none;
            &.ouvert{
                position: absolute;
                background-color: #3E3535;
                height: 30vh;
                width: 100vw;
                display: flex;
                transform: translateY(18vh);
                justify-content: center;
                .menu{
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 0.6%;
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: white ;
                        font-size: 50px;
                    }
                }
            }
        }
        .block_menu_ordi{
            display: none;
        }
    }
}

footer{

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    border-top: $gris 8px solid;
    background-color: #ded3c389;
    .footer_navigation{
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        margin-left: 4%;
        a{
            text-decoration: none;
            color: black;
            font-size: 36px;
            margin-bottom: 4%;
        }
        p{
            display: none;
        }
    }
    .footer_copyright{
        margin-left: auto;
        margin-right: auto;
        img{
            width: 90%;
        }
        p{
            text-transform: uppercase;
            font-size: 20px;
            text-align: right;
            padding-right: 8%;
        }
    }
}

#home{
    padding-top: 12vh;
    h2{
        font-family: $ultra;
        font-size: 100px;
        color: $gris;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: initial;
    }
    
    h3{
        background-color: $rose;
        color: white;
        padding: 1%;
        font-size: 24px;
    }
    .block-1{
        margin: 2%;
        padding: 2%;
        #video_home{
            height: 30vh;
        }
        .img_boussole{
            width: 100%;
        }
        .block-2{
            margin-left: 2%;
            p{
                text-align: justify;
            }
        }
    }
    .block-3{
        margin: 2%;
        padding: 2%;
        .block-news{
            h3{
                padding-left: 4%;
            }
            .news-left{
                h2{
                    text-transform: uppercase;
                    font-weight: initial;
                }
                img{
                    width: 100%;
                }
            }
            .news-right{
                margin-bottom: 12%;
                .button_news{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    .button_plus{
                        margin-top: 8%;
                        width: 100%;
                        a{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
        .block-avis{
            z-index: 1;
            h3{
                padding-left: 4%;
            }
            .block_slider{
                display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: auto;
                    margin-left: auto;
                .arrow_slider{
                    width: 40px;
                    height: 40px;
                }
                #slider{
                    width: 70vw;
                    overflow: hidden;
                    .slider-parent{
                        width: 140vw;
                        display: flex;
                        animation: slider_animation 5s 5s infinite linear;
                        .slide{
                            width: 70vw;
                            display: grid;
                            grid-template-columns: 50% 50%;
                            .block-reviews-star{
                                margin-left: 8%;
                                margin-top: 8%;
                            }
                            .desc_reviews{
                                margin-right: 12%;
                            }
                        }
                    }
                }
            }
        }
        .block-popular{
            padding: 2%;
            margin-top: 8%;
            margin-bottom: 12%;
            h3{
                padding-left: 4%;
            }
            .popular-img{
                display: block;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                img{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .popular_button{
                display: flex;
                justify-content: center;
                .button_plus{
                    margin-top: 8%;
                    a{
                        font-size: 50px;
                    }
                }
            }
            
        }
    }
    .block-4{
        margin: 2%;
        padding: 2%;  
        margin-bottom: 12%;      
        h3{
            padding-left: 4%;
        }
        img{
            width: 100%;
            margin-top: 8%;
        }
    }
    .block-5{
        margin: 2%;
        padding: 2%; 
        h3{
            text-align: right;
            padding-right: 4%;
        }
        .block-5-1{
            img{
                width: 100%;
            }
        }
    }    
}

#aventures{
    padding-top: 12vh;
    h2{
        background-color: $rose;
        color: white;
        padding: 1%;
        font-size: 24px;
        font-family: $roboto;
        padding-left: 4%;
    }
    h3{
        font-family: $ultra;
        font-size: 100px;
        color: $gris;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: initial;
        background-color: none;
    }
    .block-1{
        margin: 2%;
        padding: 2%;
        #video_home{
            height: 30vh;
        }
        .img_boussole{
            width: 100%;
        }
        .block-2{
            margin-left: 2%;
            p{
                text-align: justify;
            }
        }
    }
    .block_trio_aventure{
        margin: 2%;
        padding: 2%;
        .block_aventure{
            border: $gris 5px solid;
            border-radius: 5px;
            padding: 5%;
            margin: 2%;
            img{
                width: 100%;
            }
            .genre_aventure{
                padding: 2%;
                width: 40%;
                border: $gris 5px solid;
                border-radius: 5px;
                background-color: white;
                margin-right: auto;
                margin-left: auto;
                p{
                    font-size: 40px;
                    font-family: $roboto;
                    text-align: center;
                    margin: 0;
                    span{
                        font-weight: bolder;
                    }
                }
            }
            .caract_aventure{
                div{
                    display: grid;
                    grid-template-columns: 20% auto;
                    align-items: center;
                    img{    
                        width: 40%;
                    }
                }       
            }
            .dif_aventure{
                text-align: center;
                span{
                    font-weight: bolder;
                }
            }
                
            .button_ensavoir{
                display: flex;
                justify-content: center;
                a{
                    font-size: 48px;
                }
            }
        }
    }
    #futur_escape{
        div{
            border: $gris 5px solid;
            border-radius: 5px;
            padding: 5%;
            margin: 2%;
            h3{
                text-transform: uppercase;
                text-align: center;
            }
            img{
                width: 100%;
            }
        }
    }
}


@keyframes slider_animation{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-70vw);
    }
    100%{
        transform: initial;
    }
}


@media screen and (min-width: 1024px){
    h1{
        text-align: initial;
        span{
            font-size: 90px;
        }
    }

    header{
        position: initial;
        .header_logo{
            display: flex;
            img{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .header-selector{
            background-color: $gris;
            display: grid;
            grid-template-columns: 20% auto;
            align-items: center;
            .header-langue{
                margin-left: 16%;
                img{
                    width: 12%;
                    margin-left: 4%;
                }
            }
            .block_menu_mobile{
                display: none;
            }
            .block_menu_ordi{
                display: block;
                .menu{
                    display: flex;
                    justify-content: space-around;
                    background-color: $gris;
                    padding: 0%;
                    a{
                        text-decoration: none;
                        text-align: center;
                        color: white ;
                        font-size: 24px;
                        img{
                            width: 50%;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }  
        }
        .menu_icon_mobile{
            display: none;
        }
        
    }
    
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1%;
        border-top: $gris 8px solid;
        background-color: #ded3c389;
        .footer_navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            a{
                text-decoration: none;
                color: black;
                font-size: initial;
                margin-bottom: 0;
            }
            p{
                display: initial;
            }
        }
        .footer_copyright{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            margin-left: auto;
            margin-right: 2%;
            img{
                width: 35%;
            }
            p{
                text-transform: uppercase;
                font-size: initial;
                text-align: initial;
                padding-right: 0;
            }
        }
    }


    #home,
    #aventures,
    #cadeau{
        padding-top: 6vh;
        .block-1{
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 2%;
            padding: 2%;
            .block-2{
                display: grid;
                grid-template-columns: 50% 50%;
                margin-left: 2%;
                p{
                    text-align: justify;
                }
                .text-block-2{
                    margin-left: 4%;
                }
            }
        }
        .block-3{
            display: grid;
            grid-template-columns: 55% 45%;
            margin: 2%;
            .block-3-1{
                border: $gris 5px solid;
                border-radius: 5px;
                padding: 2%;
                margin-right: 2%;
            }
            .block-news{
                display: grid;
                grid-template-columns: 50% 50%;
                h3{
                    padding-left: 1%;
                }
                .news-right{
                    margin-left: 6%;
                    margin-bottom: 0;
                    .button_news{
                        width: 70%;
                        margin-left: 0;
                        margin-right: auto;
                        .button_plus{
                            margin-top: 8%;
                            a{
                                font-size: initial;
                            }
                        }
                    }
                }
            }
            .block-avis{
                h3{
                    padding-left: 1%;
                }
                .block_slider{
                    display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: auto;
                        margin-left: auto;
                    .arrow_slider{
                        width: 40px;
                        height: 40px;
                    }
                    #slider{
                        width: 45vw;
                        overflow: hidden;
                        .slider-parent{
                            width: 90vw;
                            display: flex;
                            .slide{
                                width: 45vw;
                                display: grid;
                                grid-template-columns: 50% 50%;
                                .block-reviews-star{
                                    margin-left: 8%;
                                    margin-top: 8%;
                                }
                                .desc_reviews{
                                    margin-right: 12%;
                                }
                            }
                        }
                    }
                }
            }
            .block-popular{
                border: $gris 5px solid;
                padding: 2%;
                margin-top: 0;
                margin-bottom: 0;
                .popular-img{
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .popular_button{
                    display: flex;
                    justify-content: center;
                    .button_plus{
                        margin-top: 8%;
                        margin-left: auto;
                        margin-right: auto;
                        a{
                            font-size: initial;
                        }
                    }
                }
                
            }
        }
        .block-4{
            display: grid;
            grid-template-columns: 52% 48%;
            margin-bottom: 2% !important; 
            margin: 0;
            padding: 0; 
            h3{
                padding-left: 4%;
            }
            p{
                margin-left: 4%;
            }
            img{
                width: 90%;
                margin-left: 6%;
                margin-top: 12%;
            }
        }
        .block-5{
            margin-bottom: 4% !important; 
            margin: 0;
            padding: 0; 
            h3{
                margin-left: 53%;
                text-align: right;
                padding-right: 2%;
                padding-top: 0.5%;
                padding-bottom: 0.5%;
            }
            .block-5-1{
                display: grid;
                grid-template-columns: 48% 52%;
                img{
                    width: 90%;
                    margin-left: 4%;
                }
                .text-block-team-building{
                    margin-right: 4%;
                }
            }
        }
    }

    #aventures{
        h2{
            background-color: $rose;
            color: white;
            padding: 1%;
            font-size: 24px;
        }
        h3{
            font-size: 50px;
        }
        .block_trio_aventure{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 2%;
            .block_aventure{
                border: $gris 5px solid;
                border-radius: 5px;
                padding: 2%;
                margin-right: 2%;
                .genre_aventure{
                    p{
                        font-size: 24px;
                    }
                }
                .button_ensavoir{
                    a{
                        font-size: 23px;
                    }
                }
            }
        }
        #futur_escape{
            div{
                padding: 7%;
                margin: 7%;
            }
        }
    }

    @keyframes slider_animation{
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-45vw);
        }
        100%{
            transform: initial;
        }
    }
}